@font-face {
  font-family: "iconfont"; /* Project id 2394342 */
  src: url('iconfont.woff2?t=1640412099778') format('woff2'),
       url('iconfont.woff?t=1640412099778') format('woff'),
       url('iconfont.ttf?t=1640412099778') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e600";
}

.icon-edit:before {
  content: "\e645";
}

.icon-cancel1:before {
  content: "\e8c1";
}

.icon-edit1:before {
  content: "\e7cd";
}

.icon-tongzhigonggao:before {
  content: "\e610";
}

.icon-tingzhi:before {
  content: "\e609";
}

.icon-kaishi-default:before {
  content: "\e614";
}

.icon-kaishi1:before {
  content: "\e6da";
}

.icon-tingzhi1:before {
  content: "\ec31";
}

.icon-tingzhi2:before {
  content: "\ec6d";
}

.icon-del:before {
  content: "\e6a5";
}

.icon-kaoshi:before {
  content: "\ecf4";
}

.icon-shangchuan:before {
  content: "\e626";
}

.icon-fuxuankuang:before {
  content: "\e69b";
}

.icon-danxuankuangxuanzhong:before {
  content: "\e7d5";
}

.icon-shijianxuanzeqi:before {
  content: "\e750";
}

.icon-kaiguan:before {
  content: "\e618";
}

.icon-huakuai-:before {
  content: "\e606";
}

.icon-icon_danhangshurukuang:before {
  content: "\e73b";
}

.icon-timeSelector:before {
  content: "\e62f";
}

.icon-score:before {
  content: "\e642";
}

.icon-jilianxuanzeqi:before {
  content: "\e646";
}

.icon-fenyeqi:before {
  content: "\e6fd";
}

.icon-jishuqi:before {
  content: "\e6fe";
}

.icon-xuanzeqi:before {
  content: "\e701";
}

.icon-anniu:before {
  content: "\e705";
}

.icon-shuxingkongjian:before {
  content: "\e60f";
}

.icon-table:before {
  content: "\e615";
}

.icon-dengluren:before {
  content: "\e652";
}

.icon-Iconfont:before {
  content: "\e716";
}

